body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0px;
}
li {
  margin: 15px;
}

h3 {
  border-bottom: 1px solid;
  border-bottom-width: 57%;
  padding-bottom: 5px;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ListContainer {
  display: flex;
  width: 90%;
  width: 60%;
  height: 80%;
}

.ListCard {
  width: 100%;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid grey;
}

.ListCard::-webkit-scrollbar {
  display: none;
}

.Card {
  width: 90%;
  background: aliceblue;
  border-radius: 8px;
  padding: 10px;
  margin: auto;
}

.Post .Card {
  float: left;
  margin: 5px 0px;
  background-color: #bedbbb;
  font-size: 12px;
}

.Comment {
  margin: 15px;
}

.Comment .Card {
  float: right;
  margin: 5px 0px;
  background-color: #8db59654;
  font-size: 12px;
}

.Comment .Card div p {
  line-height: 0px;
  font-style: italic;
}
.Input {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 40%;
}

Textarea {
  resize: none;
  margin: 0px 5%;
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

button {
  border: none;
  border-radius: 5px;
  background-color: darkgrey;
  display: inline-block;
  padding: 0px 10px;
  width: 45%;
}

.Field {
  display: flex;
  margin: 2% 0px;
  height: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.gridContainer {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.numberField {
  padding: 1px;
  top: 61%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.numberField button {
  padding: 8px 13px;
  margin: 4px 11px;
  cursor: pointer;
}
.blogContainer {
  width: 90%;
  display: flex;
  margin: auto;
  height: 70%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#searchArea {
  margin-left: 12px;
}

nav {
  height: 50px;
  width: 100%;
  background: lightgray;
}
nav ul {
  display: inline-flex;
  float: right;
}

nav li {
  margin: auto 19px;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.navLinkActive {
  font-weight: bold;
  color: black;
  /* text-decoration: underline; */
  border-bottom: 2px solid black;
}

#myChart {
  width: 90%;
  height: 90%;
  margin: auto;
}

.container {
  width: 97%;
  height: 80%;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
}

.leftPan {
  width: 20%;
  height: 100%;
  border: 1px solid #dddddd;
  max-width: 200px;
}

.rightPan {
  width: 80%;
  height: 90;
}

.leftPan div {
  height: 16.43%;
  background: white;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.leftPan div button {
  width: 100%;
  background: white;
  height: 100%;
  border: none;
  font-weight: 600;
  font-family: sans-serif;
  color: grey;
  font-size: 12px;
  cursor: pointer;
}
